streamlit
pandas
Pillow
plotly
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-generativeai
streamlit-option-menu
pdfplumber
pydantic
typing
reportlab
PyPDF2
streamlit-aggrid
xlsxwriter
openpyxl
